[flake8]

ignore = 
    E501,
    E231 ; GitHub Issues #1289 https://github.com/psf/black/issues/1289
    D202
    E272

exclude = 
    .git,
    .venv,
    __pycache__,
    docs/source/conf.py,
    wsgi.py,
    old,
    build,
    dist,
    __init__.py,
    alembic/,
    models.py
    base.py